@import "tailwindcss";

.sidebar-links
{
width: 100%;
height: auto;  
}
.sidebar-links li 
{
display: block;
text-decoration: none;
list-style-type: none;  
padding: 10px 1px;
}
.sidebar-links a 
{
color: white;
font-size: 18px;

}