body 
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;  
}
#loader 
{
width: 350px;
height: 350px;
position: absolute;
top: 15%;
left: 40%;
background: url('../images/loader1.gif') no-repeat;
background-size: cover;
background-position: center;
}
#mainContent
{
 display: none;   
}